extends layout

block content
    .jumbotron-index.text-center
        .container
            .row
                .col.col-lg-12.col-sm-12
                    h1 Fantasy Football
                    p Live tracking, managing, and editing
                    .row
                        .col.col-lg-12.col-sm-12
                            p
                                a.btn.btn-primary.btn-block.btn-large.jumbo-btn Find League
                            p
                                a.btn.btn-info.btn-block.btn-large.jumbo-btn Sign in