!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    section#wrapper!= body
      #content.container
        block content
      footer 
        div.well.well-sm
          p Fantasy Football
    | <script type='text/javascript' src='/javascripts/jquery.js'></script>
    | <script type='text/javascript' src='/javascripts/bootstrap.js'></script>
    | <script type='text/javascript' src='/javascripts/knockout.js'></script>

  block scripts