!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    section#wrapper!= body
      #content.container
        block content
      footer 
        div.well.well-sm
          block footercrumbs
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/knockout.js')
    script(type='text/javascript', src='/javascripts/moment.js')

  block scripts