extends layout

block content
    h3.page-title=title
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/rightarm/franchises') Franchises
block footercrumbs
    ul.breadcrumb
        li 
            a(href='/') Menu
        li.active RightArm