extends layout

block content
    h3.page-title=title

block footercrumbs
    ul.breadcrumb
        li 
            a(href='/') Menu
        li.active RightArm

block scripts
    script(type='text/javascript').
        var data = $.getJSON("http://football32.myfantasyleague.com/2013/export?TYPE=league&L=28655&W=&JSON=1", function(data) { 
            return data;
        })
        var Page = function(){
            var self = this;
            self.players = [{name: "Payton Manning", score: "1000"}, {name: "RG3", score: "800"}, {name: "Russel Wilson", score: "9000"}];
        }
        $(document).ready(function(){
            var model = new Page();
            ko.applyBindings(model);
        })